@model Roomie.Models.UserProfile

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>@Html.DisplayFor(model=> model.FirstName) @Html.DisplayFor(model=>model.LastName)</h4>
    <hr />
    <div class="Profile-Card">
        <div class="Image-Info">
            <div class="Profile-Image">
                <img src="http://mywindowshub.com/wp-content/uploads/2015/01/win-10-user-account.png" title="@Model.FirstName"/>
            </div>
            <div class="Profile-Info">
                <div class="Profile-Name">
                    @Model.FirstName @Model.LastName
                </div>
                <div class="Profile-City">
                    City: @(Model.Address?.City)
                </div>
                <div class="Profile-Property Has-Property@(Model.PropertyBool.ToString())">
                    @if (Model.PropertyBool)
                    {
                        <text>Has Property</text>
                    }
                    else
                    {
                        <text>Looking for property</text>
                    }
                </div>
            </div>
        </div>
        <div class="Profile-Description">
            @Model.Description
        </div>
        <div class="Profile-Controls">
            <a href="javascript:submitLike()">Like</a>
        </div>
    </div>

    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyBool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyBool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo.ImageLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo.ImageLocation)
        </dd>


    </dl>*@
    @using(Html.BeginForm("Like","UserProfiles", new { id=Model.Id}, FormMethod.Post, new { id = "form" })) { }
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
    <script type="text/javascript">
        function submitLike() {
            $("#form").submit();

        }
    </script>
    }
